#root {
    width: 100vw;
    height: 100vh;
    padding:0
}

.shekl {
    border-radius: 8px;
    border: 1px solid transparent;
    padding: 0.6em 1.2em;
    font-size: 1em;
    font-weight: 500;
    font-family: inherit;
    background-color: #a0a0a0;
    cursor: pointer;
    transition: border-color 0.25s;
    color:"#3f3f3f"
  }
  .shekl:hover {
    border-color: #646cff;
  }
  .shekl:focus,
  .shekl:focus-visible {
    outline: 4px auto -webkit-focus-ring-color;
  }
  
  